.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  text-align: center;
}

.Entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Words {
  color: red;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
}

.images {
  width: 200px;
  height: 200px;
  margin-left: auto;
  padding-right: 50px;
}

.headers {
  text-align: center;
}

.BackToListButtons {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.List {
  padding-left: 100px;
}